{% apply inline_css(source("navigation/navigation_styles.css")) %}
    <nav>
        <ul id="menu-horiz">
            <li><a href="{{ path('index') }}">Main</a></li>
            <li><a href="{{ path('info') }}">Info</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            {% if is_granted('ROLE_ADMIN') %} <li><a href="{{ path('admin') }}">Admin page</a></li>{% endif %}
            {% if app.user %} <li><a href="{{ path('app_logout') }}">Log out</a></li>
            {% else %} <li><a href="{{ path('app_login') }}">Log in</a></li> {% endif %}
        </ul>
    </nav>
{% endapply %}